
:root {
    --sm: 576;
    --md: 768;
    --lg: 992;
    --xl: 1200;
    --browser-context: 16;
    --font-size-xs: 0.65rem;
    --font-size-sm: 0.75rem;
    --font-size: 0.82rem;
    --font-size-slg: 0.88rem;
    --font-size-15: 0.9375rem;
    --font-size-lg: 1rem;
    --font-size-mlg: 1.1rem;
    --font-size-lgl: 1.25rem;
    --font-size-xl: 1.65rem;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bolder: 600;
    --font-weight-bold: 700;
    --gray-color: #2f3c43;
    --gray-color-text: #99a9b9;
    --gray-color-1: #ececf2;
    --gray-color-2: #f5f5fa;
    --gray-color-3: #eee;
    --gray-color-4: #eef2f3;
    --gray-color-5: #e2e4e9;
    --gray-color-6: #f4f7fa;
    --gray-color-7: #4e4e4e;
    --gray-color-8: #bebec1;
    --gray-color-9: #bbbacf;
    --gray-color-10: #e4eaec;
    --gray-color-11: #bfc1c7;
    --gray-color-12: #00103d1f;
    --gray-color-13: #6c757d;
    --gray-color-14: #f6f6f9;
    --gray-ecf: #ecf2f3;
    --gray-6c7: #6c757d;
    --gray-979: #979797;
    --gray-cfc: #cfcfcf;
    --gray-747: #747474;
    --gray-e7e: #e7e6e6;
    --gray-f1f1: #f1f1f5;
    --gray-464: #464659;
    --gray-e2e: #e2eaec;
    --gray-f7f: #f7f7fc;
    --gray-color-transparent: rgba(47, 60, 67, 0.8);
    --gray-light: #e9e9f0;
    --gray-light-2: #f9f9f9;
    --gray-light-3: #fbfbfd;
    --gray-light-4: #e1e7ff;
    --gray-light-5: #d5d5d5;
    --gray-background-alt: rgba(236, 236, 240, 0.54);
    --gray-a0a: #a0a9b2;
    --gray-e5e: #e5e5e5;
    --gray-343: #343a40;
    --gray-bcb: #bcb4b4;
    --gray-3f4: #3f4447;
    --gray-d9e: #d9e0e4;
    --gray-eef: #e9ecef;
    --gray-11b: #16181b;
    --green-color: #47a63e;
    --green-color-2: #6cc564;
    --input-border-color: #e4eaec;
    --input-disabled: #f7f9fa;
    --input-focus: rgba(73, 88, 205, 0.6);
    --input-file-default: #f7f9fa;
    --btn-border-disabled: #e3e1e1;
    --btn-background-disabled: #e3e1e1;
    --btn-color-disabled: #707c8c;
    --primary-color: #2c50ee;
    --primary-color-gloss: #7b8fe7;
    --primary-color-transparent: rgba(44, 80, 238, 0.9);
    --primary-color-transparent-alt: rgba(44, 80, 238, 0.2);
    --primary-color-transparent-cover: rgba(32, 57, 167, 0.7);
    --secondary-color: #e9edfd;
    --blue-light: #e9ecff;
    --blue-light-color: #eff3fe;
    --blue-light-color-2: #8280a8;
    --blue-light-color-3: #dbe2ff;
    --blue-light-f3f: #f3f7fa;
    --blue-color: #f1f5f9;
    --blue-color-2: #3481da;
    --blue-color-3: #4a90e2;
    --blue-color-4: #dbe2ff;
    --blue-color-5: #3056ff;
    --blue-color-6: #7a93ff;
    --blue-dae: #daebfe;
    --blue-90c: #90c5ff;
    --red-color: #ef5757;
    --red-muted: #ffbdbd;
    --black-color-1: #1c1d21;
    --black-color-2: #28282c;
    --black-color-transparent: rgba(40, 40, 44, 0.45);
    --black-color-3: #343440;
    --black-color-4: #343a40;
    --black-172: #172b44;
    --background-color: #f5f7fa;
    --background-color-2: #fbfafd;
    --background-color-3: #f0f3f5;
    --background-color-dark: #dbdbdb;
    --button-disabled-2: #f2f2f2;
    --button-secondary: #dfe5ff;
    --orange-color: #f5a623;
    --warning-color: #ffab2b;
    --warning-color-transparent: rgba(255, 171, 43, 0.2);
    --error-color: #f30e36;
    --error-color-transparent: rgba(254, 77, 151, 0.2);
    --wrong-color: #e80404;
    --wrong-color-2: #fe1139;
    --wrong-color-3: #ffcfd7;
    --error-color-main: #fe1139;
    --error-color-focus: #ffc4ce;
    --error-color-hover: #ffeaee;
    --success-color: #6dd230;
    --success-color-2: #28a745;
    --success-color-3: #5bc251;
    --success-color-transparent: rgba(109, 210, 48, 0.2);
    --success-color-transparent-2: rgba(40, 167, 69, 0.22);
    --standard-color: #8181a5;
    --standard-color-transparent: rgba(129, 129, 165, 0.4);
    --standard-color-transparent-2: rgba(129, 129, 165, 0.15);
    --white-color: #fff;
    --white-transparent: rgba(255, 255, 255, 0.8);
    --white-hover: #f8f9fa;
    --white-slider: #ccc;
    --sidebar-width: 280px;
    --sidebar-width-minimized: 70px;
    --navbar-height: 56px;
    --cover-radius: 12px;
    --course-playlist-width: 280px;
    --text-color-dark: #343a40;
    --icon-disabled: #B2BBC4;
    --icon-color: #343A40;
    --gray-bg: #454A4F;
    --border-hover-shadow: #ECF0FD;

    --error-focus: #FFC4CE;
    --error-hover: #FFEAEE;
    --disabled: #F2F2F2;
    --disabled-border: #EAEAEB;
    --color-text-primary: #343A40;
    --color-text-secondary: #707c8c;
    --color-text-tertiary: #A0A9B2;
    --color-text-contrast: #FFFFFF;
    --color-text-accent: #2C50EE;
    --color-text-error: #FE1139;

    --color-link-accent: #2C50EE;
    --color-link-visited: #8596E4;
    --color-link-contrast: #FFFFFF;

    --color-icon-primary: #343A40;
    --color-icon-secondary: #707C8C;
    --color-icon-tertiary: #A0A9B2;
    --color-icon-accent: #2C50EE;
    --color-icon-accent-success: #6DD230;
    --color-icon-accent-danger: #FE1139;
    --color-icon-accent-warn: #FFAB2B;
    --color-icon-contrast: #FFFFFF;
    --color-icon-error: #FE1139;

    --color-button-disabled: #E3E1E1;
    --color-button-text-disabled: #707C8C;
    --color-button-border: #707C8C;
    --color-button-accent: #2C50EE;
    --color-button-contrast: #FFFFFF;
    --color-button-secondary: #DFE5FF;
    --color-button-active: #2341C9;
    --color-button-primary: #2C50EE;
    --color-button-normal: #2C50EE;
    --color-button-primary-active: #2341C9;
    --color-button-tertiary-hover: #2145E2;
    --color-button-bg-light: #DFE5FF;
    --color-button--bg-light-active: #C5CFF8;
    --font-button-l: 18px;
    --font-button-m: 16px;
    --font-button-s: 14px;
    --font-button-xs: 14px;
    --font-weight-button-default: 500;
    --line-height-button-default: 1;
    --radius-button: 4px;
    --padding-button-default: 12px 28px;
    --box-shadow-button-primary: 0px 4px 10px rgba(16, 156, 241, .35);
    --box-shadow-button-secondary: 0px 4px 10px rgba(16, 156, 241, .25);
    --box-shadow-button-light: 0px 4px 10px rgb(146, 146, 146, .15);
    --box-shadow-button-icon: 0px 4px 10px rgb(146, 146, 146, .15);
    --box-shadow-button-hover: 0px 4px 10px rgba(16, 156, 241, .25);
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F0F3FF;
    --color-bg-tertiary: #F5F7FA;
    --color-bg-contrast: #343A40;
    --color-bg-accent: #2C50EE;
    --color-bg-error: #FE1139;

    --border-radius: 4px;
    --border-color: #E3E1E1;
    --border-hover-color: #E3E1E1;
    --border-focus-color: #DFE5FF;
    --stroke-select: #A0A2A8;
    --c-button-tertiary: #f0f3ff;

    --pagination-color-primary: #252525;
    --pagination-color-secondary: #A0A9B2;
    --pagination-color-tertiary: #707C8C;
    --pagination-color-contrast: #fff;
    --pagination-arrow-color: #343A40;
    --pagination-arrow-color-disabled: #B2BBC4;
}
