@import '_core';
@import 'vars-ui-kit';
//@import 'buttons';
@import 'fonts';
//@import 'date-picker';
//@import 'multiselect';
@import 'tinymce';
@import 'toasts';
//@import 'tooltip';
@import 'container-with-label';
html {
  font-size: 16px;
  font-family: 'Rubik';
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.sb-main-padded {
  background-color: #f2f2f2;
}